VITE_PROMISE_API=https://onlinepromise.nl/promise-api/api/v1/alarm/startendevent
VITE_PROMISE_KEY=VUL_HIER_JOUW_API_KEY_IN
VITE_PROMISE_TIMEZONE=Europe/Amsterdam
VITE_PROMISE_ALARMID=Konvertia_Winschoten_Productie